<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>
    <table class="table table-bordered border-primary">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
          </tr>
        </thead>
        <tbody>
            {% for class in students %}
          <tr>
            <th scope="row">1</th>
            <td>{{class.name}}</td>
            <td>{{class.email}}</td>
            <td>{{class.age}}</td>
        </tr>
        {% endfor %}
          
        </tbody>
      </table>
</body>
</html>
